{% extends "base.html" %}

{% block body %}
<h1>Create Test</h1>
<form method="POST" id="testForm" action="{{ url_for('create_test') }}">
    <div id="questionsContainer"></div>

    <button type="button" id="addQuestion">Add Question</button><br><br>

    <label for="studentName">Assign to Student Name:</label>
    <input type="text" name="student_name" id="studentName" required><br><br>

    <label for="testName">Assign a test name: </label>
    <input type="text" name="testName">
    <input type="submit" value="Create Test" class="submit-btn">
</form>

<script>
let questionIndex = 0;

document.getElementById('addQuestion').addEventListener('click', function (e) {
    e.preventDefault();

    const container = document.getElementById('questionsContainer');
    const questionGroup = document.createElement('div');
    questionGroup.innerHTML = `
    <label>Question:</label>
    <input type="text" name="question[]" required>
    <label>Answer:</label>
    <input type="text" name="answer[]" required><br><br>
    `;

    container.appendChild(questionGroup);
    questionIndex++;
});
</script>
{% endblock %}
