{% extends "base.html" %}
{% block body %}
<head>
    <style>
        .header{
            text-align: center;
        }
        #question {
            display: flex;
        }
        p{
            margin-left: 1cm;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Teacher Test Creator</h1>
    </div>
    {% for question in questions %}
    <div id="question">
        <p>Question ID: {{ question.question_id }}</p>
        <p>Question: {{ question.question }}</p>
        <p>Answer: {{ question.answer }}</p>
        <p>Press to add to test --></p>
        <input type="radio">
    </div>
    <div id="submit">
        <button></button>
    </div>
</body>
    
    {% endfor %}
{% endblock %}
